<div class="col-lg-4 col-md-4 col-sm-6">
    <div class="media-item animate-onscroll gallery-media">
        
        <div class="media-image">
        
         <img alt=""  {{ image.cropZoom(750,422).html('','', 'thumb')|raw }}
            
            <div class="media-hover">
                <div class="media-icons">
                    <a href="{{image.url}}" data-group="media-jackbox" data-thumbnail="{{image.url}}" class="jackbox media-icon"><i class="icons icon-zoom-in"></i></a>
                </div>
            </div>
        
        </div>
        
                                        
    </div>
</div>
